@media print, screen and (min-width: 961px) {
 .center {
  width: 270px;
  }
}

@media print, screen and (max-width: 900px) {
  .image {
  display: block;
  margin: auto;
  max-width: 60%;
  border-radius: 50%;
  }
}

@media print, screen and (max-width: 961px) and (min-width: 900px) {
  .image {
  display: block;
  margin: auto;
  max-width: 50%;
  border-radius: 50%;
  }
}

.title {
  text-align: center;
  color: #00189b;
}

.center {
  margin: auto;
  padding: 10px;
}

.image {
  border-radius: 50%;
}
