<header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p><b>E-Mail</b></p>
        {% for email in site.email %}
         <a href="mailto:{{email}}">{{email}}</a>
         {% if forloop.last != true %}
          <br>
         {% endif %}
        {% endfor %}
        <p><b>Github</b></p>
        <p><a href="{{ site.github_page }}">{{ site.github_page }}</a></p>
        
        

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
</header>
